
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ChangePass", "Account", FormMethod.Post, new { @id = "basicForm" }))
{
    @Html.Hidden("id")
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Đổi mật khẩu</h4>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Mật khẩu cũ</label>
                            <div class="col-md-10">
                                @Html.TextBox("oldpassword","", new { @class = "form-control ", @placeholder = "Mật khẩu cũ", @type="password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Mật khẩu mới</label>
                            <div class="col-md-10">
                                @Html.TextBox("password","", new { @class = "form-control ", @placeholder = "Mật khẩu mới", type="password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Nhập lại mật khẩu</label>
                            <div class="col-md-10">
                                @Html.Password("confirmpassword","", new { @class = "form-control ", @placeholder = "Nhập lại mật khẩu" })
                            </div>
                        </div>
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-success">Reset mật khẩu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
@section script{
    <script>
        $(document).ready(function () {
            $("#basicForm").validate({
                rules: {
                    oldpassword:
                    {
                        required: true,
                        minlength: 6
                    },
                    password: {
                        required: true,
                        minlength:6
                    },
                    confirmpassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#password"
                    },
                },
                messages:{
                    oldpassword:
                    {
                        required: "Chưa nhập mật khẩu",
                        minlength: "Mật khẩu tối thiểu 6 kí tự"
                    },
                    password: {
                        required: "Chưa nhập mật khẩu",
                        minlength: "Mật khẩu tối thiểu 6 kí tự"
                    },
                    confirmpassword: {
                        required: "Chưa nhập lại mật khẩu",
                        minlength: "Mật khẩu tối thiểu 6 kí tự",
                        equalTo: "Mật khẩu nhập vào không khớp"
                    },
                }
            });
        });
    </script>
}





